@font-face {
    font-family: 'Manrope-Regular';
    src: url('https://cdn.jsdelivr.net/gh/mylokaye/Norican-font@main/Manrope-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/mylokaye/Norican-font@main/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

