@font-face {
    font-family: 'TurbineTrial-RegularWeb';
    src: url('https://github.com/mylokaye/Norican-font/raw/refs/heads/main/TurbineTrial-RegularWeb.woff2') format('woff2'),
        url('https://github.com/mylokaye/Norican-font/raw/refs/heads/main/TurbineTrial-RegularWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

