@font-face {
    font-family: 'TurbineTrial-RegularWeb';
    src: url('https://cdn.jsdelivr.net/gh/mylokaye/Norican-font@main/TurbineTrial-RegularWeb.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/mylokaye/Norican-font@main/TurbineTrial-RegularWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

