@font-face {
    font-family: 'Manrope-Regular';
    src: url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TurbineTrial-RegularWeb';
    src: url('TurbineTrial-RegularWeb.woff2') format('woff2'),
        url('TurbineTrial-RegularWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TurbineTrial-RegularWeb';
    src: url('TurbineTrial-RegularWeb.woff2') format('woff2'),
        url('TurbineTrial-RegularWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TurbineTrial-RegularWeb';
    src: url('TurbineTrial-RegularWeb.woff2') format('woff2'),
        url('TurbineTrial-RegularWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

